Body { 
background:black;
color:white; 
} 
H1{
background:rgb(165, 28, 32);
color:White;
}
h3{
background:rgb(165, 28, 32) ;
float:right; 
width:37%; 
margin-right: 11px;
margin-bottom:10px;
}
A{
float: right;
width: 2px;
marginleft: 2px;
color:white;
}
